$carousel-height: 415px;
$carousel-mobile-height: 255px;
$border-radius-desktop: 25px;
$border-radius-mobile: 10px;
$padding-desktop: 50px;
$padding-mobile: 30px;
$font-size-desktop: 6em;
$font-size-mobile: 20px;
$counter-bottom: 25px;

.carousel {
  width: 100%;
  height: $carousel-height;
  display: flex;
  align-items: center;
  position: relative;

  .slide {
    width: 100%;
    height: $carousel-height;
    object-fit: cover;
    object-position: center;
    border-radius: $border-radius-desktop;

    // &.animation0 {
    //   animation: slideIn 200ms;
    // }
    // &.animation1 {
    //   animation: slideOut 200ms;
    // }
  }

  // Animation du Slide

  // @keyframes slideIn {
  //   0% {
  //     transform: translateX(100%);
  //     opacity: 0.5;
  //   }
  //   100% {
  //     transform: translateX(0);
  //     opacity: 1;
  //   }
  // }

  // @keyframes slideOut {
  //   0% {
  //     transform: translateX(0);
  //     opacity: 1;
  //   }
  //   100% {
  //     transform: translateX(-100%);
  //     opacity: 0.5;
  //   }
  // }

  .counter {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: $counter-bottom;
    font-weight: 400;
  }

  .arrow {
    color: white;
    cursor: pointer;
    padding: $padding-desktop;
    font-size: $font-size-desktop;
    padding-right: 10px;
    padding-left: 10px;
  }

  .button {
    position: absolute;
    z-index: 50;
    border: none;
    background-color: inherit;

    &.arrowLeft {
      left: 0;
    }

    &.arrowRight {
      right: 0;
    }
  }
}

@media (max-width: 576px) {
  .carousel {
    height: $carousel-mobile-height !important;
  }

  .slide {
    height: $carousel-mobile-height !important;
    border-radius: $border-radius-mobile;
  }

  .arrow {
    padding: $padding-mobile;
    font-size: $font-size-mobile !important;
  }

  .counter {
    display: none;
  }
}
