$padding: 20px;
$background-color: #f6f6f6;
$border-radius: 25px;
$margin-bottom: 40px;
$gap: 15px;

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: $padding;
  background-color: $background-color;
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
}

@media (max-width: 992px) {
  .gallery {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    padding: 0;
    margin-bottom: $gap;
    gap: $gap;
  }
}
