* {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 0 40px 40px 40px;
}

body {
  margin: auto;
  font-weight: 400;
}

/* footer bas quand la page est plus petite que la fenêtre */
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none; /* ronds a coté des nav */
}

@media (max-width: 576px) {
  main {
    padding: 15px 15px 40px 15px;
  }
}
